<div class="text-left"
    <h1>How you can contact with us</h1>
    <p>
        <h3>Contacts:</h3><br />
        <img src="/img/phone.png" />
        <b>Phone number</b> <a href="tel:+375291234567">375(29)123-45-67</a><br />
        <img src="/img/mail.png" />
        <b>Email:</b> <a href="mailto:mail@OnlineShop.by">mail@onlineshop.by</a><br />
        <img src="/img/geo.png" />
        <b>Address:</b> Minsk city, st. Rosy Luxembourg, building 7, office 23<br />
        <img src="/img/contact.png" />
        <b>Contact Person:</b> Ivanov Ivan Ivanovich<br />
        <hr />
        <b>Work hours:</b> monday-sunday: 10:00 - 20:00<br />
    </p>
</div>